$desktop-min-width: 1024px;
$tablet-min-width: 576px;
$page-font-family: Manrope, sans-serif;
$page-font-style: normal;
$page-font-weight: 400;
$main-page-title-font-size: 18px;
$second-font-size: 16px;
$label-form-font-size: 14px;
$price-font-weight: 700;
$title-font-weight: 700;
$label-form-letter-spacing: 0.15px;
$page-title-font-line-height: 140%;
$main-text-color: #1b2129;
$header-title-color: #fff;
$main-background-color: #fff;
$menu-background-color: #f9f9f9;
$categories-button-background-color: #f98921;
$about-us-background-color: #fcfaef;
$button-border-radius: 8px;
$button-default-background-color: #f98921;
$button-hover-background-color: #1b2129;
$button-active-background-color: #010810;
$button-text-color: #fff;
$address-text-color: #191919;
$address-text-label-color: #9393a3;
$form-background-color: #f9f9f9;
$form-default-text-color: #7e7e83;
$form-button-hover-color: #fff;
$form-hover-border-color: #dbdbdb;
$form-focus-border-color: #f98921;
$hover-effect-duration: 0.3s;
