$desktop-min-width: 1024px;
$tablet-min-width: 576px;
$main-page-title-font-size: 18px;
$second-font-size: 16px;
$footer-label-form-font-size: 14px;
$price-font-weight: 700;
$title-font-weight: 700;
$footer-label-form-letter-spacing: 0.15px;
$page-title-font-line-height: 140%;
$main-text-color: #1b2129;
$header-title-color: #fff;
$footer-text-color: #191919;
$footer-text-form-color: #7e7e83;
$footer-text-label-color: #9393a3;
$categories-button-text-color: #fff;
$footer-form-button-hover-color: #fff;
$main-background-color: #fff;
$menu-background-color: #f9f9f9;
$categories-button-background-color: #f98921;
$about-us-background-color: #fcfaef;
$footer-form-background-color: #f9f9f9;
$hover-footer-color: #f98921;
$hover-effect-duration: 0.3s;
