.about-us {
  background-color: #fcfaef;

  &__photo {
    box-sizing: border-box;
    background-image: url(/src/images/bc/bc-about-us.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__container {
    padding: 48px 20px;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      padding: 120px 72px;
    }

    @include on-desktop {
      column-gap: 112px;
      padding: 120px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin: 0;
    overflow-wrap: break-word;

    @include on-tablet {
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
    }

    @include on-desktop {
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__description {
    margin-block: 24px 0;
    font-size: 16px;
    letter-spacing: 0.15px;

    @include on-tablet {
      margin: 0;
    }
  }
}
