.contact-us {
  &__content {
    display: block;
    margin-top: 64px;
    margin-bottom: 64px;

    @include on-tablet {
      margin-top: 120px;
      margin-bottom: 120px;
    }
  }

  &__form {
    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 112px;
    }
  }
}

.form {
  box-sizing: border-box;
  width: 100%;
  margin-top: 16px;
  padding-left: 16px;
  font-size: $label-form-font-size;
  letter-spacing: $label-form-letter-spacing;
  background-color: $form-background-color;

  border: none;
  color: $form-default-text-color;

  &:hover {
    border: 1px solid $form-hover-border-color;
    color: $main-text-color;
  }

  &:focus {
    border: 2px solid $form-focus-border-color;
    color: $main-text-color;
  }

  &--name {
    height: 48px;
  }

  &--email {
    height: 48px;
  }

  &--message {
    display: block;
    height: 148px;
  }
}

.form--button {
  margin: 32px 0 48px;
  padding: 0;

  @include button;

  @include on-tablet {
    margin-bottom: 80px;
  }

  @include on-desktop {
    margin-bottom: 0;
  }
}

.address {
  &__label {
    font-size: $label-form-font-size;
    letter-spacing: $label-form-letter-spacing;
    color: $address-text-label-color;
    margin-bottom: 8px;
  }

  &__value {
    display: block;
    box-sizing: border-box;
    font-size: $second-font-size;
    text-decoration: none;
    color: $address-text-color;
    margin-bottom: 16px;

    &:hover {
      color: $form-focus-border-color;
      transition-duration: $hover-effect-duration;
    }
  }
}
