.contact-us {
  display: block;
  padding: 64px 20px 48px;

  @include on-desktop {
    padding: 120px;
  }

  &__form {
    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 112px;
    }
  }
}

.form {
  box-sizing: border-box;
  width: 100%;
  margin-top: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  border: none;
  padding-left: 16px;
  font-size: 14px;
  letter-spacing: 0.15px;
  color: #7e7e83;

  &--name {
    height: 48px;
  }

  &--email {
    height: 48px;
  }

  &--message {
    display: block;
    height: 148px;
  }
}

.form--button-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  margin: 32px 0 0;
  padding: 0;

  height: 56px;
}

.form--button-send:hover {
  background-color: $main-text-color;
  color: #fff;
}

.adress {
  margin-bottom: 64px;

  &__details {
    margin-top: 24px;
  }

  &__label {
    font-size: 14px;
    letter-spacing: 0.15px;
    color: #9393a3;
    margin-bottom: 8px;
  }

  &__value {
    font-size: 16px;
    text-decoration: none;
    color: $footer-text-color;
  }
}
