.menu {
  box-sizing: border-box;
  overflow: auto;

  height: 100vh;
  background-color: $menu-background-color;
  font-weight: 700;

  transition: all $hover-effect-duration;
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;

  &:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  &__top {
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 1;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    color: inherit;
    text-decoration: none;
    font-size: $second-font-size;
    letter-spacing: 2px;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid $main-text-color;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $second-font-size;
    letter-spacing: 2px;
  }
}
