h3 {
  margin: 0;
}

.product {
  display: block;
  margin: 0;

  &__photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;

    @include hover(transform, scale(1.05));

    &--categories {
      height: 130px;

      @include on-tablet {
        height: 184px;
      }

      @include on-desktop {
        height: 324px;
      }
    }
  }
}
