.recommended {
  &__products {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      justify-items: center;
      row-gap: 56px;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-items: stretch;
    }
  }

  &__products-title {
    font-size: $main-page-title-font-size;
    font-weight: $title-font-weight;
    line-height: $page-title-font-line-height;
    margin-top: 24px;
  }

  &__products-description {
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: $second-font-size;
    font-weight: $page-font-style;
    line-height: $page-title-font-line-height;

    @include on-tablet {
      margin-bottom: 34px;
    }

    @include on-desktop {
      margin-bottom: 12px;
    }
  }

  &__products-price {
    margin: 0;
    font-size: $second-font-size;
    font-weight: $price-font-weight;
    line-height: $page-title-font-line-height;
  }
}
