.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: $title-font-weight;
  text-align: left;

  @include title-about-section-font-size;

  @include on-tablet {
    margin-bottom: 56px;
  }
}
